﻿<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Productos</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <th style="width: 50px"></th>
                    <th>Descripción</th>
                    <th style="width: 150px">Precio</th>
                    <th style="width: 150px">TipoProducto</th>
                    </thead>
                    <tbody data-bind="foreach: products()">
                        <tr>
                            <td>
                                <input type="checkbox" data-bind="checked: Selected">
                            </td>
                            <td data-bind="text: Descripcion"></td>
                            <td data-bind="text: Precio"></td>
                            <td data-bind="text: DescripcionTipo"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-bind="click: agregarProducto"> Agregar</button>
            </div>
        </div>
    </div>
</div>
