﻿@model ValorTechnology.ViewModels.CotizacionViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/linq.min.js"></script>
    <script src="~/Content/bower_components/knockoutjs/knockout-3.5.0.js"></script>
    <script src="~/Content/bower_components/knockoutjs/knockout.mapping.js"></script>
    <script src="~/Scripts/ProductoViewModel.js"></script>
    <script src="~/Scripts/DetalleCotizacionViewModel.js"></script>
    <script src="~/Scripts/CotizacionViewModel.js"></script>
}

<link href="~/Content/css/Loading.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box box-default" style="margin-top: 50px" id="cotizacion">
        <div class="box-header with-border">
            <h3 class="box-title">Nueva cotización</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreCliente, htmlAttributes: new { @class = "control-label" })
                        <input type="text" name="NombreCliente" value="" data-bind="value: NombreCliente" class="form-control" />
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                        <input type="text" name="Email" value="" data-bind="value: Email" class="form-control" />
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ruc, htmlAttributes: new { @class = "control-label" })
                        <input type="text" name="Ruc" value="" data-bind="value: Ruc" class="form-control" />
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreVendedor, htmlAttributes: new { @class = "control-label" })
                        <input type="text" name="NombreVendedor" value="" data-bind="value: NombreVendedor" class="form-control" />
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->



        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary pull-right" data-bind='click: addProducto'>Agregar producto</button>
        </div>

        <table class="table table-striped" style="margin-top: 20px">
            <thead>
            <th style="width: 200px">Descripción</th>
            <th style="width: 70px">Precio</th>
            <th style="width: 70px">Cantidad</th>
            <th style="width: 70px">Descuento %</th>
            <th style="width: 70px">Impuesto %</th>
            <th style="width: 70px">Sub-total</th>
            </thead>
            <tbody data-bind="foreach: detalleCotizacion()">
                <tr>
                    <td data-bind="text: Descripcion"></td>
                    <td data-bind="text: Precio"></td>
                    <td>
                        <input type="number" name="name" min="1" data-bind="value: Cantidad" />
                    </td>
                    <td>
                        <input type="number" name="name" min="0" data-bind="value: Descuento" />
                    </td>
                    <td>
                        <input type="number" name="name" min="0" data-bind="value: Impuesto" />
                    </td>
                    <td data-bind="text: Subtotal"></td>
                </tr>
            </tbody>
        </table>

        <div class="row" style="margin-top: 80px">
            <!-- accepted payments column -->
            <div class="col-xs-6">
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Total:</th>
                                <td data-bind="text: total"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success pull-right" data-bind="click: crearCotizacion" style="margin-right: 5px; margin-bottom: 30px">
                    <i class="fa fa-save"></i> Crear cotización
                </button>
            </div>
        </div>
        @Html.Partial("_ModalProductos")
    </div>
}


<div class="loading">Loading&#8230;</div>