﻿@model ValorTechnology.ViewModels.CotizacionViewModel


@{
    Layout = null;
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info" style="margin-top: 50px">
        <div class="col-sm-4 invoice-col">
            <div class="form-group">
                <p for="exampleInputEmail1">Nombre</p>
                <label> @Html.DisplayFor(modelItem => modelItem.NombreCliente)</label>
            </div>
            <div class="form-group">
                <p for="exampleInputEmail1">Ruc</p>
                <label>@Html.DisplayFor(modelItem => modelItem.Ruc)</label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <div class="form-group">
                <p for="exampleInputEmail1">Email</p>
                <label>@Html.DisplayFor(modelItem => modelItem.Email)</label>
            </div>
            <div class="form-group">
                <p for="exampleInputEmail1">Nombre Vendedor</p>
                <label>@Html.DisplayFor(modelItem => modelItem.NombreVendedor)</label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Impuesto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetalleCotizacion)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Producto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descuento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Impuesto)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
</section>
