﻿@model  List<Domain.Cotizacion>

<div class="row" style="margin-top: 50px">
    <!-- ./col -->
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.Cotizaciones</h3>

                <p>Cotizaciones</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="@Url.Action("Index", "Cotizaciones")" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.Productos</h3>

                <p>Productos</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="@Url.Action("Index", "Productos")" class="small-box-footer">Ver más <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="box" style="margin-top: 30px">
    <div class="box-header">
        <h3 class="box-title">Listado de cotizaciones</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre cliente</th>
                    <th>Ruc</th>
                    <th style="width: 100px">Monto</th>
                    <th style="width: 50px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ruc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Monto)
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "Ver", new { idCotizacion = item.IdCotizacion })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div> 