﻿@model ValorTechnology.ViewModels.CotizacionViewModel
<link href="~/Content/css/style.css" rel="stylesheet" />
<section class="invoice margintop50"  >
    <!-- title row --> 
    <!-- info row -->
    <div class="row invoice-info ">
        <div class="col-sm-4 invoice-col">
            <div class="form-group">
                <p for="exampleInputEmail1">Nombre</p>
                <label> @Html.DisplayFor(modelItem => modelItem.NombreCliente)</label>
            </div>
            <div class="form-group">
                <p for="exampleInputEmail1">Ruc</p>
                <label>@Html.DisplayFor(modelItem => modelItem.Ruc)</label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <div class="form-group">
                <p for="exampleInputEmail1">Email</p>
                <label>@Html.DisplayFor(modelItem => modelItem.Email)</label>
            </div>
            <div class="form-group">
                <p for="exampleInputEmail1">Nombre Vendedor</p>
                <label>@Html.DisplayFor(modelItem => modelItem.NombreVendedor)</label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Impuesto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DetalleCotizacion)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descuento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Impuesto)
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Total:</th>
                        <td>$@Html.DisplayFor(modelItem => modelItem.Monto)</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="javascript:window.print()" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
        </div>
    </div>
</section>
