﻿@model Domain.Producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="box margintop50" >
    <div class="box-header">
        <h3 class="box-title">Creación de producto</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoProducto_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.TipoProducto_Id, (List<SelectListItem>)ViewBag.TiposProductos, "--Seleccione un tipo--", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.TipoProducto_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- /.box-body -->
</div>
 
<button type="button" class="btn bg-blue margin " style="margin-top: 40px"> <a href="@Url.Action("Index", "Productos")" class="btnCrear">Volver al menu</a> </button>
