﻿
.btnCrear {
    color: #fff;
    text-decoration: none;
}

    .btnCrear:hover {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

.margintop50 {
    margin-top: 50px
}
