﻿<section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Cotizaciones</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="active"><a href="@Url.Action("Index", "Cotizaciones")"><i class="fa fa-circle-o"></i> Listado</a></li>
                <li><a href="@Url.Action("Create", "Cotizaciones")"><i class="fa fa-circle-o"></i> Crear nueva</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Productos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Productos")"><i class="fa fa-circle-o"></i> Listado</a></li>
                <li><a href="@Url.Action("Create", "Productos")"><i class="fa fa-circle-o"></i> Crear nueva</a></li>
            </ul>
        </li>
        
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tipo Productos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "TiposProductos")"><i class="fa fa-circle-o"></i> Listado</a></li>
                <li><a href="@Url.Action("Create", "TiposProductos")"><i class="fa fa-circle-o"></i> Crear nuevo</a></li>
            </ul>
        </li>
    </ul>
</section>