﻿@model Domain.TiposProductos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="box margintop50">
    <div class="box-header">
        <h3 class="box-title">Eliminar tipo producto</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <h3>Esta seguro de borrar este registro?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" /> <br/>
                    <button type="button" class="btn bg-blue margin " style="margin-top: 40px"> <a href="@Url.Action("Index", "TiposProductos")" class="btnCrear">Volver al menu</a> </button>

                </div>
            }
        </div>
    </div>
    <!-- /.box-body -->
</div>

