﻿@model Domain.TiposProductos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<div class="box margintop50">
    <div class="box-header">
        <h3 class="box-title">Editar tipo producto</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">

       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal"> 
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }


    </div>
    <!-- /.box-body -->
</div>

<button type="button" class="btn bg-blue margin " style="margin-top: 40px"> <a href="@Url.Action("Index", "TiposProductos")" class="btnCrear">Volver al menu</a> </button>
 