﻿@model IEnumerable<Domain.TiposProductos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/style.css" rel="stylesheet" />

<button type="button" class="btn bg-blue margin " style="margin-top: 40px"> <a href="@Url.Action("Create", "TiposProductos")" class="btnCrear">Crear nuevo</a> </button>

<div class="box" style="margin-top: 10px">
    <div class="box-header">
        <h3 class="box-title">Listado de tipos de productos</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped">
            <thead>
            <th>Descripcion</th>
            <th style="width: 50px"></th>
            <th style="width: 50px"></th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>





